body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar,
.hero {
    background-color: #1f2937;
    color: white;
    font-family: 'Poppins' sans-serif;

}

.navbar .container img {
    max-width: 50px;
}

.navbar .container {
    display: flex;
    align-items: center;
    min-width: 300px;
    justify-content: space-between;
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: purple;
}

.hero .container {
    position: relative; 
    height: 80%;
    width: auto;
    display: flex;
    max-height: 600px;
    justify-content: space-around;
    padding: 20px;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.hero .container::before {    
    content: "";
    background-image: url(images/cheesewall.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
}

.text-and-button,
img {
    position: relative;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    max-width: 100px;
    align-self: center;
}

h2 {
    font-size: 40px;
    line-height: 1.5px;
}

p {
    font-style: italic;
}

.cheese-bar {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 25px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    gap: 10px;
    flex-wrap: wrap;
}

.box-one,
.box-two,
.box-three,
.box-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes p {
    max-width: 200px;
}

.boxes img {
    border-radius: 25px;
    max-height: 180px;
    width: auto;
}

img {
    max-height: 400px;
    width: auto;
    border-radius: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: violet;
    padding: 20px;
    font-size: 20px;
    flex-wrap: wrap;
}

.quote h4 {
    font-size: 16px;
    font-style: italic;
    align-self: flex-end;
}

.action {
    display: flex;
    background-color: rgb(164, 74, 243);
    margin: 20px 80px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    flex-wrap: wrap;
}

h6 {
    font-style: italic;
    font-weight: 50;
    font-size: 14px;
}

button {
    background-color: aqua;
    padding: 5px;
    color: black;
}

button:hover {
    background-color: rgb(169, 241, 241);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 5px;
}



